@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar-section-card-professional {
    display: flex;
    width: 60% !important;
}

.card-professional-component {
    display: flex;

    width: calc(100% - 40px) !important;
    height: fit-content;

    padding: 25px !important;
    background: #FFF !important;
    border: 2px solid #FFF !important;
    border-radius: 6px;

    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 15px !important;

    transition: all .5s;
}

.card-professional-component:hover {
    border: 2px solid #0097FF !important;
    box-shadow: 2px 8px 9px 3px rgba(0,0,0,0.06);
    -webkit-box-shadow: 2px 8px 9px 3px rgba(0,0,0,0.06);
    -moz-box-shadow: 2px 8px 9px 3px rgba(0,0,0,0.06);
}

.card-professional-component .calendar-section-card-professional-info {
    display: flex;
    width: 40% !important;
}

.card-professional-component .calendar-section-card-professional-info .row-component {
    width: 100%;
}

.card-professional-component .calendar-section-card-professional-info .row-component .column-component {
    width: 100%;
    justify-content: space-between;
}

.card-professional-component .calendar-section-card-professional-info .row-component .column-component:first-child {
    width: 100px;
    margin-right: 15px !important;
}

.card-professional-component .calendar-section-card-professional-info .row-component .column-component .review {
    width: 100%;
}

.card-professional-component .calendar-section-card-professional-info .row-component .column-component .button-component {
    min-height: 50px;
    margin-top: 15px;
}

.card-professional-component .calendar-section-card-professional-info .row-component .column-component strong {
    font-size: 22px;
    font-family: Poppins;
    font-weight: 500;
}

.card-professional-component .calendar-section-card-professional-info .row-component .column-component h2 {
    font-size: 17px;
    font-family: Poppins;
    font-weight: 300;
}

.card-professional-component .calendar-section-card-professional-info .row-component .column-component p {
    font-size: 15px;
    font-family: Poppins;
    font-weight: 300;
    margin-bottom: 15px !important;
}

.card-professional-component .calendar-section-card-professional-info .row-component .column-component .row-component {
    align-items: center;
}

.card-professional-component .calendar-section-card-professional-info .row-component .column-component .row-component svg {
    margin-right: 10px !important;
}

.card-professional-component .calendar-section-card-professional-info .row-component .column-component .row-component span {
    margin-right: 20px !important;
}

.card-professional-component .calendar-section-card-professional-info img {
    display: flex;
    width: 70px !important;
    height: 70px !important;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: auto !important;
}

.calendar-component .days.row {
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    flex: 1;
}

.calendar-component .header-calendar {
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
    color: rgba(0,0,0, .6);
    font-family: Poppins;
}

.calendar-component .header-calendar.days {
    padding: 0 15px !important;
    height: 80% !important;
}

.calendar-component .header-calendar svg {
    font-size: 22px;
}

.calendar-component .header-calendar .prev-week {
    margin-right: 15px !important;
    cursor: pointer;
    color: #0097FF;
}

.calendar-component .header-calendar .prev-week-not {
    margin-right: 15px !important;
    color: #CFCFCF !important;
    cursor: default;
}

.calendar-component .header-calendar .next-week {
    margin-left: 15px !important;
    cursor: pointer;
    color: #0097FF;
}

.calendar-component .header-calendar .col.col-center {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    width: 70px !important;
}

.calendar-component .header-calendar .col.col-center .schedule-empty {
    display: flex;
    align-items: center !important;
    justify-content: center !important;

    width: 70px !important;
    height: 36px !important;

    background: transparent;
    color: #CFCFCF;

    font-size: 15px;
    font-weight: 500;

    margin-bottom: 10px !important;
    cursor: default;
}

.calendar-component .header-calendar .col.col-center .schedule {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px !important;
    height: 36px !important;

    background: #9AD5FE !important;
    color: #002D4D !important;

    font-size: 15px;
    font-weight: 500;
    
    border-radius: 4px;
    margin-bottom: 10px !important;
    cursor: pointer;

    transition: all .4s;
}

.calendar-component .header-calendar .col.col-center .schedule:hover {
    background: #002D4D !important;
    color: #FFF !important;
}

@media(max-width: 884px) {
    .card-professional-component {
        flex-direction: column;
        height: fit-content;
    }

    .card-professional-component .calendar-section-card-professional-info {
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    .card-professional-component .calendar-section-card-professional-info h2 {
        margin-bottom: 15px !important;
    }

    .card-professional-component .calendar-section-card-professional-info button {
        margin-top: 15px !important;
    }

    .card-professional-component .calendar-section-card-professional {
        width: 100% !important;
    }
}

@media(max-width: 634px) {
    .card-professional-component {
        flex-direction: column;
        height: fit-content;
    }

    .card-professional-component .calendar-section-card-professional-info .column-component {
        width: calc(100% - 50px) !important;
    }

    .card-professional-component .calendar-section-card-professional-info .row-component .column-component:first-child {
        width: 50px !important;
    }

    .card-professional-component .calendar-section-card-professional {
        display: none;
    }
}

:root {
    background: #fcfcfc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 10px;
    background: #F2F2F2; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}

.divider {
    width: 100%;
    height: .2px;
    background: rgba(0, 0, 0, 0.15) !important;
}

.grid-search {
  display: grid; 
  grid-template-columns: 49% 49%; 
  width: 100%; 
  grid-row-gap: 20px; 
  justify-content: space-between;
}

@media screen and (max-width: 414px) {
  .grid-search {
    display: flex;
    flex-direction: column;
  }
}

.ant-switch.ant-switch-checked {
    background: var(--newhappen) !important;
}

.ant-switch {
    background: #D6D8E7 !important;
}

.ant-modal-content {
    z-index: 99;
}

.input_edit {
    background: var(--gray_2) !important;
    height: 50px !important;
    border-radius: 12px !important;
    width: 100% !important;
    outline: none;
    padding: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 15px !important;
}

.input_edit_p {
    background: var(--gray_2) !important;
    height: 50px !important;
    border-radius: 12px !important;
    width: 47% !important;
    outline: none;
    padding: 10px !important;
    margin-bottom: 15px !important;
}

.button_edit {
    background: var(--newhappen) !important;
    height: 50px !important;
    border-radius: 12px !important;
    width: 100% !important;
    outline: none;
    cursor: pointer;
    padding: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 15px !important;
    color: var(--white) !important;
    transition: background .2s;
}

.button_edit:hover {
    background: var(--newhappen-light-hover) !important;
}

.select_edit {
    background: var(--gray_2) !important;
    height: 50px !important;
    border-radius: 12px !important;
    width: 100% !important;
    outline: none;
    padding: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 15px !important;
}

.rate-nh svg path {
    color: rgba(0, 151, 255, 0.2);
}

.rate-nh .ant-rate-star.ant-rate-star-full svg path {
    color: #0097FF;
}

.appointments-card-component {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    width: calc(100% - 40px) !important;
    height: fit-content !important;

    padding: 25px !important;
    background: #FFF !important;
    border: 2px solid #FFF !important;
    border-radius: 6px;

    margin-bottom: 15px;
    margin-left: auto !important;
    margin-right: auto !important;

    transition: all .5s;
}

.appointments-card-component.past {
    background: rgb(255, 255, 255) !important;
    border: 2px solid rgb(247, 247, 247) !important;
    border-radius: 6px;
}

.appointments-card-component.past:hover {
    border: 2px solid rgb(247, 247, 247) !important;
    box-shadow: none;
}

.appointments-card-component:first-child {
    margin-top: 15px;
}

.appointments-card-component:hover {
    border: 2px solid #0097FF !important;
    box-shadow: 2px 8px 9px 3px rgba(0,0,0,0.06);
    -webkit-box-shadow: 2px 8px 9px 3px rgba(0,0,0,0.06);
    -moz-box-shadow: 2px 8px 9px 3px rgba(0,0,0,0.06);
}

.appointments-card-component .appointments-card-component-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.appointments-card-component .appointments-card-component-header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.appointments-card-component .appointments-card-component-header strong {
    font-size: 22px;
    font-weight: 500;
}

.appointments-card-component .appointments-card-component-header .appointments-card-component-info-prof {
    display: flex;
    flex-direction: column;
}

.appointments-card-component p {
    margin-bottom: 15px;
    margin-top: 10px;
}

.appointments-card-component .appointments-card-component-buttons {
    display: flex;
    width: 65%;
}

.appointments-card-component .appointments-card-component-buttons button {
    margin-right: 15px;
    width: fit-content;
    padding: 0 15px;
}

.appointments-card-component .appointments-card-component-buttons button:first-child {
    width: 30%;
}

.appointments-card-component.past .appointments-card-component-buttons {
    display: none;
}

@media(max-width: 790px) {
    .appointments-card-component .appointments-card-component-buttons {
        width: 100%;
    }
}

@media(max-width: 570px) {
    .appointments-card-component .appointments-card-component-buttons {
        display: flex;
        flex-direction: column;
    }

    .appointments-card-component .appointments-card-component-buttons button {
        display: none;
        width: 100%;
    }

    .appointments-card-component .appointments-card-component-buttons button:first-child {
        display: inline;
    }

    .appointments-card-component .appointments-card-component-buttons button:last-child {
        display: inline;
        margin-top: 15px;
    }

    .appointments-card-component .appointments-card-component-buttons button:first-child {
        display: inline;
        width: 100%;
        margin-right: 0;
    }
}

.happy-container-component {
    position: fixed;
    right: 0;
    top: 0;
    padding: 30px;
    overflow: hidden;
}

.happy-container-component .happy-component {
    width: 360px;

    position: relative;
    padding: 16px 30px 16px 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);

    background: #ebf8ff;
    color: #0097FF;

    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.happy-container-component .happy-component .happy-row-component {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.happy-container-component .happy-component .happy-row-component svg {
    margin: 4px 12px 0 0;
}

.happy-container-component .happy-component .happy-row-component .happy-content-component {
    flex: 1;
}

.happy-container-component .happy-component .happy-row-component .happy-content-component strong {
    color: #0097FF;
}

.happy-container-component .happy-component .happy-row-component .happy-content-component p {
    margin-top: 4px;
    font-size: 14px;
    opacity: .8;
    line-height: 20px;
}

.happy-container-component .happy-component .happy-row-component .happy-content-component textarea {
    width: 100%;
    height: 150px;

    margin-top: 15px;
    padding: 10px;
    outline: none;

    border-radius: 7px;
    background: rgba(0, 151, 255, .2);
    border: 1px solid rgba(0, 151, 255, .2);
}

.happy-container-component .happy-component .happy-close-component {
    position: absolute;
    right: 16px;
    top: 19px;
    opacity: .6;
    border: 0;
    background: transparent;
    color: inherit;
    outline: none;
    cursor: pointer;
}

.happy-container-component .happy-component .happy-close-component svg {
    margin: 0;
}

.happy-container-component .happy-component .happy-buttons-component {
    margin-top: 10px;
    margin-left: auto;
}

.happy-container-component .happy-component .happy-buttons-component button {
    height: 32px;
    padding: 0 15px;

    background: #0097FF;
    color: #FFF;

    border: 1px solid #0097FF;
    border-radius: 4px;

    outline: none;
    cursor: pointer;
}

.ratting-container-component {
    position: fixed;
    right: 0;
    top: 0;
    padding: 30px;
    overflow: hidden;
}

.ratting-container-component .ratting-component {
    width: 360px;

    position: relative;
    padding: 16px 30px 16px 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);

    background: #ebf8ff;
    color: #0097FF;

    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.ratting-container-component .ratting-component .ratting-row-component {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ratting-container-component .ratting-component .ratting-row-component svg {
    margin: 4px 12px 0 0;
}

.ratting-container-component .ratting-component .ratting-row-component .ratting-content-component {
    flex: 1;
}

.ratting-container-component .ratting-component .ratting-row-component .ratting-content-component strong {
    color: #0097FF;
}

.ratting-container-component .ratting-component .ratting-row-component .ratting-content-component p {
    margin-top: 4px;
    font-size: 14px;
    opacity: .8;
    line-height: 20px;
}

.ratting-container-component .ratting-component .ratting-row-component .ratting-content-component textarea {
    width: 100%;
    height: 150px;

    margin-top: 15px;
    padding: 10px;
    outline: none;

    border-radius: 7px;
    background: rgba(0, 151, 255, .2);
    border: 1px solid rgba(0, 151, 255, .2);
}

.ratting-container-component .ratting-component .ratting-close-component {
    position: absolute;
    right: 16px;
    top: 19px;
    opacity: .6;
    border: 0;
    background: transparent;
    color: inherit;
    outline: none;
    cursor: pointer;
}

.ratting-container-component .ratting-component .ratting-close-component svg {
    margin: 0;
}

.ratting-container-component .ratting-component .ratting-content-stars-component {
    display: flex;
    align-items: center;
}

.ratting-container-component .ratting-component .ratting-content-stars-component .rate-nh svg path {
    color: rgba(0, 151, 255, 0.2);
}

.ratting-container-component .ratting-component .ratting-content-stars-component .rate-nh .ant-rate-star.ant-rate-star-full svg path {
    color: #0097FF;
}

.ratting-container-component .ratting-component .ratting-content-stars-component .ratting-buttons-component {
    margin-top: 10px;
    margin-left: auto;
}

.ratting-container-component .ratting-component .ratting-content-stars-component .ratting-buttons-component button {
    height: 32px;
    padding: 0 15px;

    background: #0097FF;
    color: #FFF;

    border: 1px solid #0097FF;
    border-radius: 4px;

    outline: none;
    cursor: pointer;
}

.toast-container-component {
    position: fixed;
    right: 0;
    top: 0;
    padding: 30px;
    overflow: hidden;
    z-index: 100;
}

.toast-container-component .toast-component {
    width: 360px;

    position: relative;
    padding: 16px 30px 16px 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);

    display: flex;
    margin-bottom: 16px;
}

.toast-component.info {
    background: #ebf8ff;
    color: #3172b7;
}

.toast-component.success {
    background: #e6fffa;
    color: #2e656a;
}

.toast-component.error {
    background: #fddede;
    color: #c53030;
}

.toast-container-component .toast-component svg {
    margin: 4px 12px 0 0;
}

.toast-container-component .toast-component .toast-content-component {
    flex: 1;
}

.toast-container-component .toast-component .toast-content-component p {
    margin-top: 4px;
    font-size: 14px;
    opacity: .8;
    line-height: 20px;
}

.toast-container-component .toast-component.info .toast-content-component strong {
    color: #3172b7;
}

.toast-container-component .toast-component.success .toast-content-component strong {
    color: #2e656a;
}

.toast-container-component .toast-component.error .toast-content-component strong {
    color: #c53030;
}

.toast-container-component .toast-component .toast-content-component.dontHasDescription {
    align-items: center;
}

.toast-container-component .toast-component .toast-content-component.dontHasDescription svg {
    margin-top: 0;
}

.toast-container-component .toast-component .toast-close-component {
    position: absolute;
    right: 16px;
    top: 19px;
    opacity: .6;
    border: 0;
    background: transparent;
    color: inherit;
    outline: none;
    cursor: pointer;
}

.toast-container-component .toast-component .toast-close-component svg {
    margin: 0;
}